<div class="card position-relative">
  <ngx-loading [show]="isLoading"></ngx-loading>
  <div *ngIf="!isLoading">
    <div class="card-header d-flex justify-content-between">
      <h3 class="media-title">{{ tmdbShow.name }}</h3>
      <div class="d-flex justify-content-between">
        <a [routerLink]="['/search/auto']" [queryParams]="{type: 'tv', q: 'similar-to:' + tmdbShow.id}" class="btn btn-link">
          <span class="oi oi-sun"></span> <span class="d-none d-sm-block">Similar</span>
        </a>
        <a [routerLink]="['/search/auto']" [queryParams]="{type: 'tv', q: 'recommended-to:' + tmdbShow.id}" class="btn btn-link">
          <span class="oi oi-magnifying-glass"></span> <span class="d-none d-sm-block">Recommended</span>
        </a>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6 col-lg-8 mb-2">
          <p class="card-text">{{ tmdbShow.overview }}</p>
        </div>
        <div class="col">
          <div class="d-flex justify-content-end">
            <div ngbDropdown class="d-inline-block mb-2">
              <button class="btn" [ngClass]="{'btn-outline-success': isWatchingShow(), 'btn-outline-primary': !isWatchingShow()}" id="dropdownBasic1" ngbDropdownToggle>
                <span *ngIf="!isWatchingShow()">Not watching</span>
                <span *ngIf="isWatchingShow()">Watching</span>
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button *ngIf="!isWatchingAllSeasons()" (click)="watchAllSeasons()" ngbDropdownItem>Watch all seasons</button>
                <button *ngIf="isWatchingShow()" (click)="stopWatchingShow()" [disabled]="!canUnWatchShow()" ngbDropdownItem>Stop watching show</button>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-end my-2" *ngIf="isWatchingShow()">
            <div class="form-check text-muted form-control-sm">
              <input class="form-check-input" type="checkbox" id="auto-watch" [(ngModel)]="autoWatchFutureSeasons" (ngModelChange)="autoWatchUpdate()">
              <label class="form-check-label" for="auto-watch" container="body" ngbTooltip="When new seasons air, this setting will automatically start watching them">
                Automatically watch future seasons
              </label>
            </div>
          </div>
          <div class="d-flex justify-content-end my-2">
            <div class="form-group row">
              <label class="col-lg-6 col-form-label">Quality Profile</label>
              <div class="col-lg-6">
                <select type="text" class="form-control form-control-sm" [formControl]="qualityProfileControl">
                  <option *ngFor="let profile of qualityProfiles()" [value]="profile">{{ profile }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <ul ngbNav #nav="ngbNav" class="nav-tabs" [(activeId)]="activeNav">
        <li ngbNavItem="details">
          <a ngbNavLink>Details</a>
          <ng-template ngbNavContent>
            <div class="row">
              <div class="col-12 col-md-6 mb-3 position-relative">
                <ngx-loading [show]="isSaving"></ngx-loading>
                <ul class="list-group" *ngFor="let season of tmdbShow.seasons">
                  <ngb-accordion>
                    <ngb-panel>
                      <ng-template ngbPanelHeader>
                         <div class="d-flex align-items-center justify-content-between">
                           <!-- header left -->
                           <div>
                             <button class="btn btn-link" ngbPanelToggle>Season {{ season.season_number }}</button>
                           </div>
                           <!-- header right -->
                           <div class="d-flex justify-content-between">
                             <!-- legend -->
                             <div [ngSwitch]="hasCollectedAllEpisodesInSeason(season)" class="mx-2">
                               <!-- downloaded everything -->
                               <div *ngSwitchCase="true">
                                 <span class="oi oi-check" ngbTooltip="All episodes are downloaded" placement="left"></span>
                               </div>
                               <!-- not downloaded everything -->
                               <div *ngSwitchCase="false">
                                 <div [ngSwitch]="isWatchingSeason(season) || isWatchingAllEpisodesInSeason(season)">
                                   <!-- watching whole season -->
                                   <div *ngSwitchCase="true"> <span class="oi oi-eye" ngbTooltip="Watching entire season" placement="left"></span></div>
                                   <div *ngSwitchCase="false">
                                     <!-- watching some episodes -->
                                     <div [ngSwitch]="isWatchingAnyEpisodeInSeason(season)" ngbTooltip="Watching some episodes" placement="left">
                                       <span *ngSwitchCase="true"> <span class="oi oi-ellipses"></span></span>
                                     </div>
                                   </div>
                                 </div>
                               </div>
                             </div>
                             <!-- watch/unwatch season -->
                             <button *ngIf="!isWatchingSeason(season)" type="button" class="btn btn-sm btn-outline-primary mx-2" (click)="watchEntireSeason(season)" ngbTooltip="Watch entire season" placement="left">
                               <span class="oi oi-video"></span>
                             </button>
                             <button *ngIf="isWatchingSeason(season)" type="button" class="btn btn-sm btn-success mx-2" (click)="stopWatchingEntireSeason(season)" [disabled]="!canUnWatchSeason(season.season_number)" ngbTooltip="Stop watching season" container="body">
                               <span class="oi oi-video"></span>
                             </button>
                             <!-- manual search -->
                             <div *ngIf="!isWatchingSeason(season) && userIsStaff() && isManualSearchEnabled">
                               <button class="btn btn-sm btn-link" ngbTooltip="Manually search torrents for this season" placement="left" (click)="manuallySearchSeason(season)"><span class="oi oi-magnifying-glass"></span></button>
                             </div>
                           </div>
                         </div>
                      </ng-template>
                      <ng-template ngbPanelContent>
                        <!-- season overview -->
                        <p *ngIf="season.overview">{{ season.overview }}</p>
                        <form class="form" *ngIf="watchEpisodesFormGroup" [formGroup]="watchEpisodesFormGroup">
                          <!-- episode checklist -->
                          <div *ngFor="let episode of season.episodes" class="form-check d-flex justify-content-between">
                            <div>
                              <input class="form-check-input" type="checkbox" [formControlName]="episode.id" [name]="episode.id" [id]="episode.id">
                              <label class="form-check-label" [for]="episode.id">#{{ episode.episode_number }} - {{ episode.name }}</label>
                            </div>
                            <!-- manual search episode -->
                            <div *ngIf="isManualSearchEnabled && !(isWatchingSeason(season) || isWatchingEpisode(episode.id))">
                              <button class="btn btn-sm btn-link" placement="left" ngbTooltip="Manually search torrents for this episode" (click)="manuallySearchEpisode(season, episode)"><span class="oi oi-magnifying-glass"></span></button>
                            </div>
                          </div>
                          <!-- manual search toggle -->
                          <div class="d-flex justify-content-end my-2" *ngIf="userIsStaff() && !isWatchingSeason(season)">
                            <form class="form">
                              <input class="form-check-input" type="checkbox" [(ngModel)]="isManualSearchEnabled" name="manualSearch" id="toggle-manual-search">
                              <label class="form-check-label" for="toggle-manual-search" placement="left" ngbTooltip="Enable option to manually search torrents vs automatically downloading them">Manual</label>
                            </form>
                          </div>
                        </form>
                      </ng-template>
                    </ngb-panel>
                  </ngb-accordion>
                </ul>
              </div>
              <div class="col-12 col-md-6">
                <img [src]="mediaPosterURL(tmdbShow)"  class="img-fluid">
              </div>
            </div>
          </ng-template>
        </li>
        <li ngbNavItem="status" [hidden]="!isWatchingShow()">
          <a ngbNavLink>Status</a>
          <ng-template ngbNavContent>
            <app-torrent-details mediaType="tv" [watchMedia]="getWatchMedia()"></app-torrent-details>
          </ng-template>
        </li>
        <li ngbNavItem="manual" [hidden]="!userIsStaff() || !isManuallySearching">
          <a ngbNavLink>Manual Search</a>
          <ng-template ngbNavContent>
            <app-search-manual mediaType="tv" [tmdbMedia]="tmdbShow" [tmdbTVSeason]="manualSearchTmdbSeason" [tmdbTVEpisode]="manualSearchTmdbEpisode" (downloaded)="manuallyDownloadComplete()"></app-search-manual>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </div>
</div>
